<div class="cont-outer">
	<div class="cont-inr">
		<div class="cont-lft-new"  style="">
			<div class="titlebar2" style="font-size: 20px; ">NEW REGISTRATION FOR TRAINING AND PLACEMENT</div>
			<br/>
			<%= form_for(@student) do |f| %>
			<% if @student.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

				<ul>
					<% @student.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<div class="field">
				<%= f.label "name of student" %>
				<br />
				<%= f.text_field :name, :size => "45" %>
			</div>
			<div class="field">
				<%= f.label "name of gurdian with contact no"  %>
				<br />
				<%= f.text_field :gurdian, :size => "45" %>
			</div>
			<div class="field">
				<%= f.label :address %>
				<br />
				<%= f.text_area :address,:rows=>"10" %>
			</div>
			<div class="field">
				<%= f.label :gender %>
				<br />
				<%= f.select :gender, [ 'Male', 'Female' ], :prompt => 'Select One...', :size => "45" %>
			</div>
			<div class="field">
				<%= f.label :phone %>
				<br />
				<%= f.text_field :phone,:size => "45"  %>
			</div>

			<div class="field">
				<%= f.label :email %>
				<br />
				<%= f.text_field :email,:size => "45"  %>
			</div>

			<div class="field">
				<%= f.label :qualification %>
				<br />
				<%= f.text_field :qualification,:size => "45"  %>
			</div>
			
			<div class="field">
				<%#= f.label :registration_type %>
				<%= f.hidden_field :registration_type, :value => "placement" %>
			</div>
			
			<div class="field">
			<%= f.label 'where you want to go' %><br />
			<%= f.text_field :place %>
			</div>
			<div class="field">
			<%= f.label :experience %><br />
			<%= f.text_field :experience %>
			</div>
			<div class="field">
			<%= f.label 'your present company' %><br />
			<%= f.text_field :pcompany %>
			</div>
			<div class="field">
			<%= f.label 'your current salary' %><br />
			<%= f.text_field :csalary %>
			</div>
			<div class="field">
			<%= f.label 'your expected salary' %><br />
			<%= f.text_field :esalary %>
			</div> 
			<div class="actions">
				<%= f.submit "submit",  :src =>'/images/submit2.png', :type => "image", :style=>"border: medium none;"%>
			</div>
			<% end %>

			<%= link_to 'Back', students_path %>

		</div>
		
	<!--Content Right-->
		<div class="cont-rgt-new" style="height:1172px">
			<!-- <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
			<%= render "shared/right_content" %>
		</div>
		</div>
		</div>

