<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @student.phone %>
</p>

<p>
  <b>Gurdian:</b>
  <%= @student.gurdian %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Qualification:</b>
  <%= @student.qualification %>
</p>

<p>
  <b>Coaching:</b>
  <%= @student.coaching %>
</p>

<p>
  <b>Registration type:</b>
  <%= @student.registration_type %>
</p>

<p>
  <b>Cexam:</b>
  <%= @student.cexam %>
</p>

<p>
  <b>Place:</b>
  <%= @student.place %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>Course:</b>
  <%= @student.course %>
</p>

<p>
  <b>Experience:</b>
  <%= @student.experience %>
</p>

<p>
  <b>Pcompany:</b>
  <%= @student.pcompany %>
</p>

<p>
  <b>Csalary:</b>
  <%= @student.csalary %>
</p>

<p>
  <b>Esalary:</b>
  <%= @student.esalary %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
