<div class="cont-outer">
  <div class="cont-inr">
    <div class="cont-lft-new"  style="">
      <div class="titlebar2">MANPOWER REGISTRATION </div>
      <br/>
      <%= form_for(@client) do |f| %>
        <% if @client.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@client.errors.count, "error") %> prohibited this Manpower from being saved:</h2>

            <ul>
              <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :registration_type, :value =>'manpower'   %>

        <div class="field">
          <%= f.label :"Name of company" %><br />
          <%= f.text_field :com_name, :size => "45" %>
        </div>
        <div class="field">
          <%= f.label :"Address of company" %><br />
          <%= f.text_field :address, :size => "45" %>
        </div>
        <div class="field">
          <%= f.label :"Contact no"  %><br />
          <%= f.text_area :contact_no, :size => "45" %>
        </div>
        <div class="field">
          <%= f.label :"Email" %><br />
          <%= f.text_field :email,:rows=>"10", :cols=>"48" %>
        </div>
        <div class="field">
          <%= f.label :"System for tie up with consultancy" %><br />
          <%= f.text_field :tie_consultancy,:rows=>"10", :cols=>"48" %>
        </div>

        <div class="field">
          <%= f.label :"Contact Person" %><br />
          <%= f.text_field :contact_person,:rows=>"10", :cols=>"48" %>
        </div>
        <div class="field">
          <%= f.label :"Mobile No" %><br />
          <%= f.text_field :mobile_no,:rows=>"10", :cols=>"48" %>
        </div>
        <div class="field">
          <%= f.label :"Type of manpower" %><br />
          <%= f.text_field :type_of_manpower,:rows=>"10", :cols=>"48" %>
        </div>
        <div class="field">
          <%= f.label :"Any enquiry" %><br />
          <%= f.text_area :enquiry,:rows=>"10", :cols=>"48" %>
        </div>




        <div class="actions">
          <%= f.submit "submit",  :src =>'/images/submit2.png', :type => "image", :style=>"border: medium none;"%>
        </div>
      <% end %>


<%#= link_to 'Back', clients_path %>

    </div>
    <!--Content Right-->
        <div class="cont-rgt-new" style="padding-bottom: 153px;">
            <!-- <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
            <%= render "shared/right_content" %>
        </div>

  </div>
</div>
