<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Studyline</title>
  <%= stylesheet_link_tag    :all%>
  <%= javascript_include_tag :all %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<!--HEADER START-->
<%= render "shared/header" %>
<!--HEADER END-->
<div class="spacer"></div>

<%= yield %>
<div class="spacer"></div>
<%= render "shared/footer" %>

</div>
<script type="text/javascript">
    var menu=new menu.dd("menu");
    menu.init("menu","menuhover");
</script>

</body>
</html>
